<nav class="navbar">
    <div class="logo">🧶 CrochetByMalini</div>
    <ul class="nav-links">
        <li><a routerLink="/">Начало</a></li>
        <li><a routerLink="/about">Контакти</a></li>
        <li><a routerLink="/shop">Магазин</a></li>
        <li><button class="link-button" (click)="openLoginModal()">Login</button></li>
    </ul>
</nav>
<div class="modal-backdrop" *ngIf="showLoginModal">
    <div class="modal">
        <app-login (close)="closeLoginModal()"></app-login>
    </div>
</div>