<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="about-container">
    <h2>За CrochetByMalini</h2>
    <p class="intro">
        Здравей и добре дошъл в света на <strong>CrochetByMalini</strong> – мястото, където преждата оживява!
    </p>
    <p>
        Казвам се Вили и съм създателят на всичко, което виждаш тук. Всяка плетена играчка е ръчно изработена от мен – с
        внимание, търпение и много любов.
    </p>
    <p>
        Обожавам да създавам малки същества, които носят радост и топлина. Ако имаш идея за нещо персонализирано – не се
        колебай да ми пишеш!
    </p>
    <p class="signature">
        🧶 С любов и прежда, <br>
        Вили от CrochetByMalini
    </p>
    <h3>Контакт</h3>
    <p>
        <a href="" target="_blank">
            <i class="fa-solid fa-envelope"></i> vili.kalafirova888&#64;gmail.com
        </a>
    </p>
    <p>
        <a href="" target="_blank">
            <i class="fa-solid fa-phone"></i> 0894 123 456
        </a>
    </p>
    <p>
        <a href="https://www.instagram.com/crochet.by.malini/" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
        </a>
    </p>
    <p>
        <a href="https://www.facebook.com/crochetbymalini" target="_blank">
            <i class="fa-brands fa-facebook-f"></i> Facebook
        </a>
    </p>
    <p>
        <a href="https://www.pinterest.com/crochetbymalini" target="_blank">
            <i class="fab fa-tiktok"></i> TikTok
        </a>
    </p>

</div>